

                 <div class="grid grid-nogutter rounded flex align-items-center p-2">                 
                        <div class="col-12 md:col-10 md:text-left  text-center">
                            <h3 class="m-0"><b>Welcome</b> {{employeeName}}</h3>
                            <small class="text-color-secondary"><b>{{empDesig}}  {{empDpt}}</b> </small>
                        </div>
                        <div class="col-12 md:col-2  text-center">
                            {{today}}
                        </div>
                    </div>                    


