
<div class="content-wrapper">
    <div class="row p-2 d-flex align-items-center">
      <div class="col-10">
        <h5>Family and Nominee </h5>
      </div>
    </div>  
    <div class="row">
      <div class="col-3 allRadious" *ngFor="let field of familyDetails">
        <mat-card>
          <mat-card-header>
            <table class="table table-borderless">
              <tbody>
                <tr><td class="fw-semibold">Name</td><td class="text-muted">{{field.nameEn}}</td></tr>
                <tr><td class="fw-semibold">DOB</td><td class="text-muted"> {{field.dob}}</td></tr>
                <tr><td class="fw-semibold">Gender</td><td class="text-muted">{{field.genId}}</td></tr>
                <tr><td class="fw-semibold">Relation</td><td class="text-muted">{{field.relationshipId}}</td></tr>
                <tr><td class="fw-semibold">Martial Status</td><td class="text-muted">{{field.MStatusId}}</td></tr>
                <tr><td class="fw-semibold">Address</td><td class="text-muted">{{field.genId}}</td></tr>
                <tr><td class="fw-semibold">Pan</td><td class="text-muted">{{field.pan}}</td></tr>
                <tr><td class="fw-semibold">Adhaar</td><td class="cardSubTitle">{{field.aadharRefernceId}}</td></tr>
              </tbody>
            </table>
          </mat-card-header>
          <mat-card-actions class="text-center">
            <button class="btn btn-link btn-link-secondary ms-2" mat-button color="secondary"> View all Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row mt-5 p-2 d-flex align-items-center">
      <div class="col-10">
        <h5>Nomination For Arrears (Form A&5)</h5>
      </div>
    </div>
  
    <div class="row">
      <div class="col-3 allRadious">
        <mat-card>
          <mat-card-header>
            <table class="table table-borderless">
              <tbody>
                <tr><td>Name</td><td>{{name}}</td></tr>
                <tr><td>DOB</td><td>{{name}}</td></tr>
                <tr><td>Gender</td><td>{{name}}</td></tr>
                <tr><td>Relation</td><td>{{name}}</td></tr>
                <tr><td>Martial Status</td><td>{{name}}</td></tr>
                <tr><td>Address</td><td>{{name}}</td></tr>
                <tr><td>Main</td><td>{{name}}</td></tr>
                <tr><td>Alternate</td><td>{{name}}</td></tr>
              </tbody>
            </table>
          </mat-card-header>
          <mat-card-actions class="text-center">
            <button class="btn btn-link btn-link-secondary ms-2" mat-button color="secondary"> View all Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="row mt-5 p-2 d-flex align-items-center">
      <div class="col-10">
        <h5>Commutation (Form A&5)</h5>
      </div>
    </div>  
    <div class="row">
      <div class="col-3 allRadious">
        <mat-card>
          <mat-card-header>
            <table class="table table-borderless">
              <tbody>
                <tr><td>Name</td><td>{{name}}</td></tr>
                <tr><td>DOB</td><td>{{name}}</td></tr>
                <tr><td>Gender</td><td>{{name}}</td></tr>
                <tr><td>Relation</td><td>{{name}}</td></tr>
                <tr><td>Martial Status</td><td>{{name}}</td></tr>
                <tr><td>Address</td><td>{{name}}</td></tr>
                <tr><td>Main</td><td>{{name}}</td></tr>
                <tr><td>Alternate</td><td>{{name}}</td></tr>
              </tbody>
            </table>
          </mat-card-header>
          <mat-card-actions class="text-center">
            <button class="btn btn-link btn-link-secondary ms-2" mat-button color="secondary"> View all Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>    
  
    <div class="row mt-5 p-2 d-flex align-items-center">
      <div class="col-10">
        <h5>Gratuity (Form 1 or 2)</h5>
      </div>
    </div>  
    <div class="row">
      <div class="col-3 allRadious">
        <mat-card>
          <mat-card-header>
            <table class="table table-borderless">
              <tbody>
                <tr><td>Name</td><td>{{name}}</td></tr>
                <tr><td>DOB</td><td>{{name}}</td></tr>
                <tr><td>Gender</td><td>{{name}}</td></tr>
                <tr><td>Relation</td><td>{{name}}</td></tr>
                <tr><td>Martial Status</td><td>{{name}}</td></tr>
                <tr><td>Address</td><td>{{name}}</td></tr>
                <tr><td>Main</td><td>{{name}}</td></tr>
                <tr><td>Alternate</td><td>{{name}}</td></tr>
              </tbody>
            </table>
          </mat-card-header>
          <mat-card-actions class="text-center">
            <button class="btn btn-link btn-link-secondary ms-2" mat-button color="secondary"> View all Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <!-- <div class="mt-5 text-end">
      <button mat-button>Previous</button>
      <button class="btn btn-primary" mat-raised-button color="primary">Next</button>
    </div>  -->
  
  </div>