<div class="content-wrapper">
    <div class="content">
        <div class="text-center font-bold  text-4xl sm:ml-1 mb-1 sm:mt-0 mt-1"><p-breadcrumb [model]="abc"></p-breadcrumb></div>
        <div class="feature-boxes grid-nogutter grid ">
            <div class="col-12 ">
                <form >
                    <p-fieldset legend="Employee Nominee Update">
                        
                        <div class="grid grid-nogutter">
                          
                            <div class="col-12 ">
                                <div class="formgrid grid flex  flex-wrap  border-round-sm pt-1">
                                                                                                   
                                        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
                                            <span class="p-float-label">
                                                <p-dropdown [showClear]="true" [filter]="true" filterBy="name" formControlName="schemeName" 
                                                    [showClear]="true" autoWidth="false" [style]="{'width': '100%'}"
                                                    class="p-inputtext-md">
                                                </p-dropdown>
                                                <label for="float-input"> Scheme Name</label>
                                            </span>
                                        </div>
                                        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
                                            <span class="p-float-label">
                                                <p-dropdown [showClear]="true" [filter]="true" filterBy="name"  formControlName="nominationName"
                                                    [showClear]="true" autoWidth="false" [style]="{'width': '100%'}"
                                                    class="p-inputtext-md">
                                                </p-dropdown>
                                                <label for="float-input"> Nominee Name</label>
                                            </span>
                                        </div>
                                        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
                                            <span class="p-float-label">
                                                <p-dropdown [showClear]="true" [filter]="true" filterBy="name" formControlName="relationName"
                                                    [showClear]="true" autoWidth="false" [style]="{'width': '100%'}"
                                                    class="p-inputtext-md">
                                                </p-dropdown>
                                                <label for="float-input"> Relation</label>
                                            </span>
                                        </div>
                                        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
                                            <span class="p-float-label">
                                                <input type="text" pInputText autoWidth="false" [style]="{'width': '100%'}" formControlName="percentShare">
                                                <label for="float-input">Percentage Share</label>
                                             </span>
                                        </div>
                                        <div class="field col-12 sm:col-6 md:col-4 xl:col-3">
                                            <button type="button" mat-raised-button style="background-color: #0059d5;" class="btnclass"
                                            (click)="fileInput.click()"><mat-icon>uploade</mat-icon>Choose File</button>
                                          <input #fileInput type="file" id="file" hidden (change)="onFileSelected($event)" accept="image/*" maxFileSize="50000" formControlName="file" >
                                          <span class="file-name">{{selectedFile?.name}}</span>
                                          <div class="text-red text-xs mt-2"><b>Note :-</b>File extension must be pdf and file size
                                            must be upto 5MB.</div>
                                        </div>
                                    <div class="field col-12">
                                        <div class="flex flex-wrap justify-content-center gap-3 ">
                                            <button  type="button" class="btn btn-secondary ms-2" mat-raised-button  routerLink="/Home/Ess/Ess-Req"><mat-icon>arrow_back_ios_new</mat-icon>Back</button>

                                            <button type="submit" mat-raised-button class="mx-2">
                                                <mat-icon matSuffix><span class="material-symbols-outlined">
                                                    update
                                                  </span></mat-icon>Update
                                              </button>
                                                <button type="button" mat-raised-button  color="warn"><mat-icon matSuffix>refresh</mat-icon>Reset</button>                                               
                                        </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </p-fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
<article class="surface-border shadow-1 border-round mt-2 surface-section ml-1 ">
    <section class="flex flex-column md:flex-row">
        <div class="col-12">
            <div class="card shadow-1 surface-border border-round">
                <p-table [value]="ESSDataLoadNominee" dataKey="id" 
                  styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header" let-columns >
                        <tr>
                            <th>S.No</th>
                            <th>Req ID</th>
                            <th>Scheme</th>
                            <th>Nominee</th>
                            <th>Relation</th>
                            <th>Percent</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-obj let-i="rowIndex">
                        <tr>
                            <td>{{i+1}}</td>
                            <td>{{obj.REQUEST_ID}}</td>
                            <td>{{obj.REQUESTED_JSON.schemeName}}</td>
                            <td>{{obj.REQUESTED_JSON.nominationName}}</td>
                            <td>{{obj.REQUESTED_JSON.relationName}}</td>
                            <td>{{obj.REQUESTED_JSON.percentShare}}</td>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </section>
</article>
