<!-- <div class="light_grey_bg" id="mySidenav1">
    <div class="hidden sm:block">
      <nav class="sidebar sidebar-offcanvas pe-3 " id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" routerLink="/ESS-Dashboard" aria-expanded="false"
              aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Dashboard</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="ui-basic"
              routerLink="/Ess-Req">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">My Request</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
             <div class="collapse" id="ui-basic">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Personal Information</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Nominee Update</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Date Type Update</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Other Number Update</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Account Number Update</a></li>
                    
                  </ul>
                </div> 
          </li>
  
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" aria-expanded="false" aria-controls="ui-basic"
              routerLink="/Inbox_I">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Inbox</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#Tax" aria-expanded="false" aria-controls="charts"
              routerLink="/emp-gendetail">
              <i class="menu-icon mdi mdi-chart-line"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Employee Master</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>

          </li>
  
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/employe_registration" aria-expanded="false" aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Employee Registration</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#EMPDetail" aria-expanded="false" aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title"> Employee Details</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div class="collapse" id="EMPDetail">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/employee-details">Employee Personal Details</a>
                </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/employeeIdentification">Employee Identification</a>
                </li>
                <li class="nav-item"> <a class="nav-link" routerLink="/EmployeeService">Employee Service</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/address">Address</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/familyDetails">Family Details</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/bank-details">Bank-details</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/pay-entitlement">Pay Entitlement</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/document">document</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/EmpDate">Employee Date</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
              aria-controls="form-elements">
              <i class="menu-icon mdi mdi-card-text-outline"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Pay & Allowance </span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">CCA Allowance</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">HRA Allowance</a></li>
  
              </ul>
            </div>
  
          </li>
  
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#leaves" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Leaves</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div class="collapse" id="leaves">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
              </ul>
            </div>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#persInfo" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Personal Information</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div class="collapse" id="persInfo">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
              </ul>
            </div>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#deduct" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Deduction</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div class="collapse" id="deduct">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
              </ul>
            </div>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#loans" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Loans</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div class="collapse" id="loans">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
              </ul>
            </div>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#AdvReq" aria-expanded="false" aria-controls="tables">
              <i class="menu-icon mdi mdi-table"></i>
              <mat-icon class="menu-icon me-1">assessment</mat-icon>
              <span class="menu-title">Advance Request</span>
              <i class="fa-solid fa-chevron-right"></i>
            </a>
            <div class="collapse" id="AdvReq">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Demo1</a></li>
              </ul>
            </div>
          </li>
  
  
  
        </ul>
        <a class="closebtn d-lg-none" (click)="closeMenu()">&times;</a>
      </nav>
  
    </div>
  </div> -->
  <!-- <div class="hidden sm:block" id="mySidenav1">
    <p-panelMenu [model]="items"></p-panelMenu>
    <a class="closebtn d-lg-none" (click)="closeMenu()">&times;</a>
  </div> --> 
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded" class="hidden sm:block" id="mySidenav1">
      <mat-nav-list>
        <mat-list-item (click)="isExpanded = !isExpanded">
          <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
          </mat-icon>
        </mat-list-item>
        <mat-list-item [routerLink]="'/Dashboard/Dashboard/NewTheme'">
          <mat-icon mat-list-icon>home</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
        </mat-list-item>
  
        <mat-list-item [routerLink]="'My Request'">
          <mat-icon mat-list-icon>important_devices</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">My Request</span>
        </mat-list-item>
  
        <mat-list-item [routerLink]="'Inbox'">
          <mat-icon mat-list-icon>move_to_inbox</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Inbox</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'Employee Master'">
          <mat-icon mat-list-icon>home</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Employee Master</span>
        </mat-list-item>
  
        <mat-list-item [routerLink]="'info'">
          <mat-icon mat-list-icon>account_balance</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Employee Bank Verify</span>
        </mat-list-item>
  
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>safety_check</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Employee Registration</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>info</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Employee Details</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon> currency_rupee</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Pay & Allowance</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Leaves</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>perm_contact_calendar</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Personal Information</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>person_remove</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Deduction</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>real_estate_agent</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Loans</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Advance Request</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>